<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--$-->
<html dir="ltr" lang="pt-BR">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedido confirmado</title>
  </head>

  <body
    style="
      background-color: rgb(246, 249, 252);
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light',
        'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      font-weight: 300;
      color: #404040;
      line-height: 26px;
    "
  >
    <!-- Preheader (texto de pré-visualização no cliente de e-mail) -->
    <div
      style="
        display: none;
        overflow: hidden;
        line-height: 1px;
        opacity: 0;
        max-height: 0;
        max-width: 0;
      "
    >
      Pedido confirmado!
      <div>
        ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
      </div>
    </div>

    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        background-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        padding: 45px;
        position: relative;
        max-width: 37.5em;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <td data-id="__react-email-column">
                    <a
                      href="<%= cc.store.active_domain %>"
                      style="
                        font-size: 1.5rem;
                        line-height: 2rem;
                        font-weight: 700;
                        color: rgb(64, 64, 64);
                        text-decoration: none;
                      "
                      target="_blank"
                      ><%= cc.store.name %></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td>
                    <p style="font-size: 1.25rem; line-height: 1.75rem; margin: 16px 0">
                      Sua compra foi confirmada com sucesso!
                    </p>
                    <a
                      href="<%= cc.store.active_domain %>/order/<%= cc.order.internal_id %>"
                      style="
                        background-color: rgb(25, 185, 94);
                        border-radius: 0.25rem;
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        width: 210px;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 7px;
                        padding-right: 7px;
                        text-align: center;
                        line-height: 100%;
                        text-decoration: none;
                        display: inline-block;
                        max-width: 100%;
                        mso-padding-alt: 0px;
                        padding: 14px 7px 14px 7px;
                      "
                      target="_blank"
                      ><span><!--[if mso]><i style="mso-font-width:350%;mso-text-raise:21" hidden> </i><![endif]--></span
                      ><span
                        style="
                          max-width: 100%;
                          display: inline-block;
                          line-height: 120%;
                          mso-padding-alt: 0px;
                          mso-text-raise: 10.5px;
                        "
                        >Ver pedido</span
                      ><span><!--[if mso]><i style="mso-font-width:350%" hidden> ​</i><![endif]--></span></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td>
                    <p
                      style="
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        margin-top: 3rem;
                        margin-bottom: 0px;
                        margin: 16px 0;
                      "
                    >
                      Resumo do pedido
                    </p>
                    <p
                      style="
                        margin-top: 0px;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: rgb(156, 162, 153);
                        margin: 16px 0;
                      "
                    >
                      Nº <!-- --><%= cc.order.internal_id %>
                    </p>

                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                    >
                      <tbody>
                        <tr>
                          <td>
                            <% cc.order.packages.forEach((package, index) => { %>
                            <table
                              align="center"
                              width="100%"
                              class="<%= index !== cc.order.packages.length - 1 ? 'border-b py-4' : '' %>"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                                border-style: solid;
                                border-color: rgb(234, 234, 234);
                              "
                            >
                              <tbody style="width: 100%">
                                <tr style="width: 100%">
                                  <td data-id="__react-email-column">
                                    <div
                                      style="
                                        border-width: 1px;
                                        border-style: solid;
                                        border-color: rgb(229, 229, 229);
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 0.5rem;
                                        margin-right: 15px;
                                        overflow: hidden;
                                      "
                                    >
                                      <% if (package.meta.image) { %>
                                      <img
                                        src="<%= package.meta.image %>"
                                        style="
                                          display: block;
                                          outline: none;
                                          border: none;
                                          text-decoration: none;
                                        "
                                        width="60"
                                      />
                                      <% } else { %>
                                      <img
                                        src="https://cdn.centralcart.com.br/public/email/no-image.png"
                                        style="
                                          padding: 15px;
                                          display: block;
                                          outline: none;
                                          border: none;
                                          text-decoration: none;
                                        "
                                        width="30"
                                      />
                                      <% } %>
                                    </div>
                                  </td>

                                  <td data-id="__react-email-column" style="width: 100%">
                                    <p style="font-size: 1rem; line-height: 1.5rem; margin: 0px">
                                      <%= package.name %> x<%= package.quantity %>
                                    </p>
                                    <a
                                      href="<%= cc.store.active_domain %>/order/<%= cc.order.internal_id %>"
                                      style="
                                        font-size: 0.875rem;
                                        line-height: 1.25rem;
                                        margin: 0px;
                                        color: #067df7;
                                        text-decoration: none;
                                      "
                                      target="_blank"
                                      >Resgatar pacote</a
                                    >
                                  </td>

                                  <td data-id="__react-email-column">
                                    <p
                                      style="
                                        font-size: 1rem;
                                        line-height: 1.5rem;
                                        white-space: nowrap;
                                        font-weight: 600;
                                        margin: 16px 0;
                                      "
                                    >
                                      <%= package.meta.price_display %>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <% }) %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <hr
              style="margin-top: 3rem; width: 100%; border: none; border-top: 1px solid #eaeaea"
            />

            <p style="font-size: 0.75rem; line-height: 1rem; color: rgb(156, 162, 153); margin: 0px">
              Email enviado por<!-- -->
              <a
                href="<%= cc.store.active_domain %>"
                style="color: #067df7; text-decoration: none"
                target="_blank"
                ><%= cc.store.active_domain.replace("http://", "") %></a
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
<!--/$-->
